@import url("./reset.css");


/*-------FONT-----------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');


/*-------VARIABLES------*/
:root {

    --font : 'Open sans', sans-serif;
    --paragraph-color: #BDBCBC;
    --title-color: #7F7F7F22;
    --bg-color: #F2F1F0;

}

/*-------TEXT FORMAT-----*/

body {
    background-color: var(--bg-color);
}

.animation {
    color: var(--title-color);
}
background-color: var(--bg-color);

h2, h3 {
    font-family: var(--font);
}

.image {
    background-color: var(--bg-color);
}


/*--------HEADER--------*/
header {
    height: 100px;
    margin:0;
    padding:0;
    background:var(--bg-color);
    border: 1px solid lightgrey;
}
    
.header-box {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:nowrap;
    align-items:stretch;
    width:100%;
    margin-top:20px;S
}



/*--------MAIN--------*/
section {
    margin-left: 50px;
    margin-right:50px;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.image {
    border:0 solid white;
    box-shadow:2px 2px 2px 2px lightgrey;
    border-radius:5px;
    margin:10px;
}











   
    

}

